@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');

body {
  margin: 0; /* обнулим отступы*/
}

@keyframes header_anim {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}


header{
    position: fixed;
    width: 100%;
    height: 80px;
    background: #a8e4a0;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
}

.under_header{
    padding-top: 90px;
}

.main_title{
    text-decoration: none;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1em;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1em;
  color: #ffffff;
}

.col {
  padding-left: 80px;
  padding-top: 120px;
}

.x {
  padding-left: 80px;
  padding-top: 150px;
}

button {
    border-radius: 4px;
    transition: border-radius 0.5s ease-in;
    background: #ffcc00;
}

button:hover {
    border-radius: 16px;
}

input {
  margin-left: 100px;
}

.btn {
  margin-top: 20px;
  border-radius: 4px;
  transition: border-radius 0.5s ease-in;
}

.btn:hover {
    border-radius: 16px;
}

p{
    max-width: 50%;
}

.paint {
  margin-left: 650px;
  margin-top: 100px;
}

.scattering {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://zornet.ru/ABVUN/Aba/detunis/supasnab/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.scattering:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
