<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
  	<div>
	<header>
        <h2>Music Notifier</h2>
            <form action="" method="get">
            <input name="s" placeholder="Искать здесь..." type="search">
            <button type="submit">Поиск</button>
        </form>
	</header>
	</div>
  	<h1>Новинки:</h1>
    <div class="container text-center">
  <div class="row">
    <div class="col">
        <figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp33"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
  </div>
</div>
<div class="container text-center x">
  <div class="row">
    <div class="col">
        <figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
  </div>
</div> 
<h1>Альбомы:</h1>
    <div class="container text-center">
  <div class="row">
    <div class="col">
        <figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
  </div>
</div>
<div class="container text-center x">
  <div class="row">
    <div class="col">
        <figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
    <div class="col">
        	<figure>
  		<img src="к картинке.jpg"
       width="100"
       height="100"
       >
      <figcaption>YAGUSTATOR, заурядный - мы покидаем пригород</figcaption>
      <audio controls>
       <source src="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3" type="audio/mpeg" />
      <a href="заурядный, yagustator — мы покидаем пригород (www.lightaudio.ru).mp3"> Download audio </a>
      </figure>
    </div>
  </div>
</div>    
  </body>